/* 
EASY LINK TO THIS PAGE

<link rel="stylesheet" href="http://10.0.0.199/staff-only/css/content.css" type="text/css">
*/

/* ALL DEFAULT PROPERTIES */
body,td,th { font-family: Arial; font-size: 14px; width:200px; }
body {margin-left: 10px; margin-top: 10px;}
	a:link {text-decoration: none; color: #0000FF;}
	a:visited {text-decoration: none;}
	a:hover {text-decoration: none;}
	a:active {text-decoration: none;}

/* CONTENT */
.header201 { font-size: 16px; font-weight: bold; }
.header202 { font-size: 16px; font-weight: bold; padding: 20px; }